{
  "presets": ["es2015", "stage-3"],
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": true,
        "regenerator": true
      }
    ],
    [
      "babel-root-slash-import",
      {
        "rootPathSuffix": "app"
      }
    ]
  ]
}
